DATABASE_URL="postgresql://postgres.jusosffbcpphhrepdyht:[YOUR-PASSWORD]@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp1c29zZmZiY3BwaGhyZXBkeWh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3NTAwMDUsImV4cCI6MjA5ODMyNjAwNX0.av-xDEzRuQy_aawO5WGqEhSZyoS2JNHEb2PguwW1ySM"